@model Group

@{
    var idCourse = (int)ViewBag.CourseId;
    ViewData["Title"] = Localizer["CreateGroup"];
    var courses = new SelectList((IEnumerable<Course>)ViewData["Courses"], "Id", "Name");
    courses.Where(x => x.Value == idCourse.ToString()).FirstOrDefault().Selected = true;
    string redStart = "<span style=\"color:red\">*</span>";
}

<h4>@Localizer["CreateGroup"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, Localizer["Name"].Value, new { @class = "control-label" })
                @Html.Raw(redStart)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CourseId, Localizer["Course"].Value, new { @class = "control-label" })
                @Html.Raw(redStart)
                @Html.DropDownListFor(m => m.CourseId, courses as IEnumerable<SelectListItem>, new { @class = "custom-select" })
            </div>            
            <div class="form-group">
                <input type="submit" value="@Localizer["Create"]" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>



<div>
    <a href="/courses/@idCourse/groups">@Localizer["Back"]</a>
</div>

