@using MVC.DataAccess;
@model UnitOfWork
@{
    ViewData["Title"] = "Список групп";
    int i = 1;
    var course = Model.Courses.GetById(ViewBag.CourseId);
}
<!DOCTYPE html>

<html>
<head>
    <title>Группы</title>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="~/courses" class="btn btn-sm btn-dark" role="button" aria-pressed="true">&#8249;&#8249;&#8249;</a>
            </div>
            <div class="col">
                <h3>Course @course.Name</h3>
            </div>
            <div class="col-1">
                <a href="~/groups/create" class="btn btn-sm btn-success" role="button" aria-pressed="true">Добавить</a>
            </div>
        </div>
    </div>

    <table class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th class="align-middle text-center">#</th>
                <th class="align-middle col-2">Название</th>
                <th class="align-middle col-2 text-center">Кол-во студентов</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.Groups.GetAll().Where(x => x.CourseId == course.Id))
            {
                int countStudents = Model.Students.GetAll().Where(x => x.GroupId == group.Id).Count();
                <tr id="@group.Id">
                    <td class="align-middle text-center font-weight-bold">@i</td>
                    <td name="nameGroup" class="align-middle">@group.Name</td>
                    <td class="align-middle text-center">@countStudents</td>
                    <td class="align-middle text-right">
                        <a href="groups/@group.Id" class="btn btn-sm btn-dark" role="button" aria-pressed="true">Students</a>
                        <a href="groups/edit/@group.Id/" class="btn btn-sm btn-success" role="button" aria-pressed="true">Edit</a>
                        <a href="groups/delete/@group.Id/" class="btn btn-sm btn-danger" role="button" aria-pressed="true">Remove</a>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</body>
</html>