@using MVC.Common
@using Microsoft.AspNetCore.Mvc.Localization
@using MVC.Web.Models.Course
@inject IViewLocalizer Localizer
@model CourseIndexViewModel
@{
    ViewData["Title"] = Localizer["ListCourses"];
    int i = 1;
    var alert = TempData["AlertMessage"];
    string typeAlert = string.Empty;
    if (TempData["AlertStatus"] != null && (bool)TempData["AlertStatus"])
        typeAlert = "alert-success";
    else
        typeAlert = "alert-danger";

    void RemoveModal(Course course)
    {
        <div id="removeModal_@course.Id" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">@Localizer["Remove"]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>@Localizer["RemoveCourse?"] "@course.Name"?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="/courses/delete/@course.Id/" class="btn btn-danger" role="button" aria-pressed="true">@Localizer["Remove"]</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Close"]</button>
                    </div>
                </div>
            </div>
        </div>
    }

}

    @if (alert != null)
    {
        <text>
            <div class="alert @typeAlert" role="alert">
                @alert
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </text>
    }

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>@Localizer["Courses"]</h3>
            </div>          
        </div>
        <div class="row">
            <div class="col">
                <form method="get">
                    <div class="form-inline form-group">
                        <label class="control-label">@Localizer["NameCourse"]&nbsp;</label>
                        <input name="name" value="@Model.FilterViewModel.SelectedName" class="form-control" />
                        &nbsp;
                        <input type="submit" value="@Localizer["Search"]" class="btn btn-outline-dark" />
                    </div>
                </form>
            </div>
            <div>
                <a href="~/courses/create" class="btn btn-success" role="button" aria-pressed="true">@Localizer["Create"]</a>
            </div>
            
        </div>
    </div>

    

    <table class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th class="align-middle text-center" scope="col">#</th>
                <th class="align-middle" scope="col">
                    <a asp-action="Courses" class="text-white"
                       asp-route-sortOrder="@Model.SortViewModel.NameSort"
                       asp-route-name="@Model.FilterViewModel.SelectedName">@Localizer["NameCourse"]</a>
                </th>
                <th class="align-middle" scope="col">
                    <a asp-action="Courses" class="text-white"
                       asp-route-sortOrder="@Model.SortViewModel.DescriptionSort"
                       asp-route-name="@Model.FilterViewModel.SelectedName">@Localizer["Description"]</a>
                </th>
                <th class="align-middle"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Course course in Model.Courses)
            {
                <tr id="@course.Id">
                    <td class="align-middle text-center font-weight-bold">@((Model.PageViewModel.PageNumber - 1) * (int)ViewData["PageSize"] + i)</td>
                    <td class="align-middle">@course.Name</td>
                    <td class="align-middle">@course.Description</td>
                    <td class="align-middle text-right">
                        <a href="/courses/@course.Id/groups" class="btn btn-sm btn-dark" role="button" aria-pressed="true">@Localizer["Groups"]</a>
                        <a href="/courses/edit/@course.Id/" class="btn btn-sm btn-success" role="button" aria-pressed="true">@Localizer["Edit"]</a>
                        <a href="" class="btn btn-sm btn-danger" role="button" aria-pressed="true" data-toggle="modal" data-target="#removeModal_@course.Id">@Localizer["Remove"]</a>
                    </td>
                </tr>
                i++;
                RemoveModal(course);
            }
        </tbody>
    </table>

    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Courses"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           asp-route-name="@Model.FilterViewModel.SelectedName"
           asp-route-sortorder="@Model.SortViewModel.Current"
           class="btn  btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            @Localizer["Back"]
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Courses"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           asp-route-name="@Model.FilterViewModel.SelectedName"
           asp-route-sortorder="@Model.SortViewModel.Current"
           class="btn btn-outline-dark">
            @Localizer["Next"]
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }