@model Course

@{
    ViewData["Title"] = Localizer["CreateCourse"];
    string redStart = "<span style=\"color:red\">*</span>";
}

<h4>@Localizer["CreateCourse"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, Localizer["Name"].Value, new { @class = "control-label" })
                @Html.Raw(redStart)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, Localizer["Description"].Value, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Create"]" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Courses">@Localizer["Back"]</a>
</div>

